.header{
    width: 100%;
    height: 88px;
    background: $bg-py;
}
.navbar{
    width: 100%;
    @include df(center center);
    margin-top: 24px;
    &__block{
        width: 100%;
        @include df(space-between, center);
    }
    &__logo{
        width: 50%;
        @include df(start, center);
        gap: 81px; 
    }
    &__logo__img{
        max-width: 106px;
        max-height: 36px;
        @include df();
        gap: 40px;
        &::after{
            content: "";
            height: 48px;
            border: 1px solid $bg-border;
        }         
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__logo__content{
        color: $bg-text;
    }
    &__icons{
        width: 50%;
        @include df(flex-end, center);
        gap: 24px;
    }
    &__collection{
        @include df();
        gap: 24px;
    }
    &__menu{
        display: none;
        span{
            display: block;
            width: 30px;
            height: 3px;
            background: #000;
            margin-bottom: 3px;
            border-radius: 6px;
        }
    }
    &__item{
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        color: $bg-text;
        a{
            @include df();
            gap: 12px;     
        }
        img{
            width: 16px;
            height: 16px;
        }
    }  
    &__btn{
        @include btn();
        border: 2px solid $bg-border;
        span{
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            color: $bg-color;
        }
    } 
    &__jingle{
        width: 40px;
        height: 40px;
        a{
            @include df();
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__img{
        width: 40px;
        height: 40px;
    }
}
.show{
    left: 0;
}

@media (max-width:990px) {
    .header{
      .navbar{
          &__collection{
              position: fixed;
              top: 0;
              left: -350px;
              width: 350px;
              background: #f1f1f1;
              color: #000;
              height: 100vh;
              flex-direction: column;
              padding: 30px;
              transition: .5s;
              button{
                  display: block;
              }
          }
          &__icons{
            button{
                display: block;
            }
        }     
      }
    }
}
@media (max-width:750px) {
    .header{
      padding: 0 20px;
      .navbar{
        &__collection{
            position: fixed;
            top: 0;
            left: -350px;
            width: 350px;
            background: #f1f1f1;
            color: #000;
            height: 100vh;
            flex-direction: column;
            padding: 30px;
            transition: .5s;
            
        }
          &__collection{
              position: fixed;
              top: 0;
              left: -350px;
              width: 350px;
              background: #f1f1f1;
              color: #000;
              height: 100vh;
              flex-direction: column;
              padding: 30px;
              transition: .5s;
              button{
                  display: block;
              }
          }
          &__icons{
              button{
              display: none;
            }
          }
          &__menu{
            display: block;
            margin-left: 24px;
          }
        }
      }
}
@media (max-width:450px) {
    .header{
      padding: 40px 40px 26px 40px;
      .navbar{
        @include df(none, center);
        &__logo{
            img{
                width: 70px;
                height: 28px;
            }
        }
          &__collection{
              position: fixed;
              top: 0;
              left: -350px;
              width: 350px;
              background: #f1f1f1;
              color: #000;
              height: 100vh;
              flex-direction: column;
              padding: 30px;
              transition: .5s;
              button{
                  display: block;
              }
          }
          &__icons{
            img{
                width: 32px;
                height: 32px;
            }
              button{
              display: none;
            }
          }
          &__menu{
            display: block;
            margin-left: 24px;
            margin-right: 10px;
            span{
                display: block;
                width: 22px;
                height: 3px;
                background: #777E90;
                margin-bottom: 3px;
                border-radius: 6px;
            }
          }
        }
    }
}